body {
    padding-top: 60px;
}
.starter-template {
    position: relative;
    padding: 40px 30px;
    text-align: center;
}

#space-tree-container {
    height:100%;
    width:100%;
    color:#ccc;
}
#infovis {
    position:relative;
    width:600px;
    height:600px;
    margin:auto;
    overflow:hidden;
    background: #f8f8f8;
}

